
body,html,ul,li,h3,h5,form,input,p,label,th,td,tr{
    padding: 0;
    margin: 0;
    border: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
//-----------------------------------------------top--------------------------------
header{
    box-sizing: content-box;
    width: 950px;
    height: 64px;
    padding-top: 12px;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    position: relative;
    .h-l{
        h1{
            width: 194px;
            height: 59px;
            margin-left: 13px;
            a{
                width: 193px;
                height: 59px;
                overflow: hidden;
                display: block;
                background: url(../imgeas/logo_mini.png) no-repeat left top;
            }
        }
    }
    .h-r{
        width: 600px;
        position: absolute;
        top: 15px;
        right: 10px;
        color: #151515;
        text-align: right;
        height: 59px;
        .h-r1{
            height: 20px;
            margin-bottom: 15px;
            a{
                color: #000;
                padding: 0 10px;
                float: right;
            }
            span{
                font-size: 12px;
                b{
                    font-size: 16px;
                    color: orange;
                }
            }
        }
        .h-r2{
            height: 20px;
            font-size: 12px;
            span{
                text-align: right;
                color: #151515;
                a{
                    text-align: right;
                }
            }
        }
    }
}
//-----------------------------------------------shoptop--------------------------------
.shoptop{
    width: 950px;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px 0;
    height: 70px;
    p{
        display: inline-block;
        width: 310px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        background: #CECECE;
    }
    p:nth-child(1){
        background: lawngreen;
        color: #fff;
    }
}
//-----------------------------------------------shopcut--------------------------------
#shopcut{
    width: 950px;
    overflow: hidden;
    margin: 0 auto;
    .shop-c{
        width: 100%;
        table{
            width: 100%;
            border: 1px solid #d3d3d3;
            tr{
                th{
                    background: #D3D3D3;
                    overflow: hidden;
                    label{
                        input{
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
                td,th{
                    font-size: 12px;
                   height: 32px; 
                    text-align: center;
                }
                td:nth-child(1){
                    width: 80px;
                }
                td:nth-child(3){
                    width: 120px;
                }
                td:nth-child(4),td:nth-child(5){
                    width: 130px;
                }
            }
            .shop-xq{
                border: 1px solid #CECECE;
                background: pink;
                td{
                    line-height: 25px;
                    padding: 10px 10px 10px 15px;
                    input{
                        float: left;
                        height: 20px;
                        width: 50px;
                        text-align: center;
                        margin: 0 6px;
                    }
                    .jia,.jian{
                        cursor: pointer;
                        display: inline-block;
                        width: 15px;
                        height: 20px;
                        float: left;
                        background: url(../imgeas/goods_info1.gif) no-repeat;
                    }
                    .jian{
                        background-position: -207px -160px;
                    }
                    .jia{
                        background-position: -207px -179px;
                        margin-right: 10px;
                    }
                    a{
                        color: #000;
                        &:hover{
                            color: orange;
                        }
                    }
                    .shop-xq-c{
                        display: flex;
                        justify-content: space-between;
                        a{
                            display: inline-block;
                             img{
                                 border: 1px solid #CECECE;
                                width: 60px;
                                height: 80px;
                            }
                        }
                        div{
                            text-align: left;
                            width: 380px;
                            height:80px;
                            p{
                                color: #000000;
                                width: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }
    }
    .shop-b{
        width: 100%;
        height: 70px;
        border: 1px solid #CECECE;
        margin-top: 5px;
        padding: 10px;
        div{
            float: left;
            cursor: pointer;
            height: 100%;
            line-height: 30px;
            text-align: center;
            margin-right: 20px;
            padding: 10px;
            span{
                color: orange;
                b{
                    font-size: 30px;
                }
            }
        }
        .shop-b1{
            width: 50px;
            text-align: center;
            height: 100%;
            input{
                width: 15px;
                height: 15px;
            }
        }
        .shop-b2,.shop-b3,.shop-b4{
            &:hover{
                color: #fff;
                background: orange;
            }
        }
        .shop-b6{
            margin-left: 50px;
            padding: 5px;
        }
        .shop-b7{
            float: right;
           height: 100%;
           padding: 0;
            input{
                font-size: 20px;
                width: 100px;
                height: 100%;
                background: orange;
            }
        }
    }
}
//-----------------------------------------------interesting--------------------------------
    .interesting{
        width: 950px;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 12px;
        height: 400px;
        border: 1px solid #CECECE;
        h5{
            height: 30px;
            line-height: 30px;
            text-indent: 30px;
            background: #C0C0C0;
        }
        ul{
            display: flex;
            li{
                margin: 10px 5px 0 10px;
                width: 190px;
                height: 350px;
                padding: 10px;
                img{
                    width: 100%;
                    height: 240px;
                }
                p{
                    font-size: 12px;
                    margin-top: 10px;
                    span{
                        font-size: 20px;
                        color: red;
                    }
                }
            }
        }
    }
//-----------------------------------------------查看收藏--------------------------------
    #shop-cksc{
        height: 50px;
        width: 950px;
        margin: 0 auto;
        opacity: .9;
        margin-top: 20px;
        line-height: 50px;
        font-size: 20px;
        span{
            font-size: 16px;
            color: orange;
        }
    }
//-----------------------------------------------页脚--------------------------------
footer{
        p{
            width: 950px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            color: #999;
            clear: both;
            padding-top: 10px;
            margin: 15px auto 20px auto;
            border-top: 1px solid #999;
            font-size: 10px;
            a{
                font-weight: 900;
                color: #999;
                &:hover{
                    color:#feb300;
                }
            }
        }
}
