header,.banner,.xryl,.zx,.jhtj,.rjzt,.gdzt,.zxhc,.fxhh,.gdhh,footer,nav,.foo-list{
    min-width: 1200px;
}
body,html,ul,li,h3,h5,form,input{
    padding: 0;
    margin: 0;
    border: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.down{
    opacity: .8;
}
@mixin wrap{
        width: 1200px;
        height: 100%;
        margin:0 auto;
}
@mixin wrap-h3{
    h3{
        text-align: center;
        padding-bottom: 20px;
    }
}
//-----------------------------------------------头部--------------------------------
header{
    min-width: 1200px;
    height: 92px;
    background: #333333;
    .header_wrap{
        @include wrap;
        display: flex;
        flex-direction: column;
        .header_top{
            font-size: 10px;
            padding-top: 14px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            .h_t_l{
                li{
                    margin-right: 18px;
                    display: inline-block;
                         >a{
                            text-decoration: none;
                            display: inline-block;
                            line-height: 34px;
                            color: #b7b7b7;
                            }
                }
                 li:nth-child(2){
                     position: relative;
                     >a{
                          padding-left: 26px ;
                           background: url(../imgeas/spriter2016.png) no-repeat -215px -40px;
                           span{
                               color: red;
                           }
                         &:hover{
                               color: red;
                               background: url(../imgeas/spriter2016.png) no-repeat -215px -75px;
                           }
                     }
                     #h_gwd{
                         position: absolute;
                         top: 34px;
                         width: 300px;
                         min-height: 50px;
                         background: white;
                         display: none;
                         text-align: center;
                         line-height: 50px;
                         
                     }
                     &:hover{
                         #h_gwd{ 
                             display: block;
                         }
                         background: white;
                     }
                   }  
                           
                   li:last-child{
                       position: relative;
                       box-sizing: border-box;
                       border: 1px solid #333;
                      border-bottom: 0;
                       >a{
                            padding-right: 15px;
                            background: url(../imgeas/spriter2016.png) no-repeat right -108px;
                            &:hover{
                                color: red;
                               background: url(../imgeas/spriter2016.png) no-repeat right -143px;
                           }
                       }
                       #h_zx{
                           display: none;
                           position: absolute;
                           background: white;
                           width: 65px;
                           top: 34px;
                           left: -1px;
                           border: 1px solid #CECECE;
                            border-top: 0;
                           a{ 
                               color: #333;
                               display: block;
                               line-height: 34px;
                           }
                       }
                       &:hover{
                          border: 1px solid #cecece;
                           background: white;
                            #h_zx{
                               a{
                                  &:hover{
                                      color: red;
                                  }
                               }
                               display: block;
                           }
                       }  
                        }
               
            }
            .h_t_c{
                display: block;
                width: 212px;
                >a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../imgeas/spriter2016.png) no-repeat 0 0;
                }
            }
            .h_t_r{
                width: 262px;
                height: 28px;
                position: relative;
                input:nth-child(1){
                    width: 240px;
                    height: 100%;
                    background: #333;
                    padding: 5px;
                    color: #CECECE;
                    border: 1px solid #cecece;
                    float: left;
                }
                input:nth-child(2){
                    position: absolute;
                    right:22px;
                    padding: 0;
                    width: 22px;
                    height: 100%;
                   border: 0;
                    background: url(../imgeas/spriter2016.png) no-repeat -44px -42px;
                }
                ul{
                    position: absolute;
                    top: 28px;
                    width: 240px;
                    background: #fff;
                    li{
                        width: 100%;
                        line-height: 20px;
                        cursor: pointer;
                        &:hover{
                            background: #CECECE;
                        }
                    }
                }
            }
        }
        .header_bottom{
            height:42px;
            #navlist{
                height: 100%;
                margin: 0 auto;
                text-align: center;
                li{
                    a{
                        padding:12px 15px 10px;
                        color: #cecece;
                        line-height: 42px;
                        font-size: 15px;
                        text-decoration: none;
                    }
                    padding:0 16px 0 16px ;
                    display: inline-block;
                     &:hover{
                         a{
                           border-bottom: 2px solid #727071;  
                         }
                    }
                }
                li:nth-child(1) a{
                        border-bottom: 2px solid #727071;
                }
               
            }
        }
    }
    
    
}
//-----------------------------------------------nav--------------------------------
nav{
    background: #F7F7F7;
    ul{
        @include wrap;
        text-align: center;
        li{
            display: inline-block;
            height: 41px;
            overflow: hidden;
            line-height: 42px;
            font-size: 14px;
            color: #000;
            cursor: default;
            width: 60px;
            text-align: center;
        }
    }
}
//-----------------------------------------------轮播图--------------------------------
.banner{
    height: 632px;
    padding-top: 24px;
    overflow: hidden;
    position: relative;
    .lbt-wrap{
        @include wrap;
        overflow: hidden;
            position: relative;
         ul:nth-child(1){
            height: 100%;
            position: absolute;
            li{
                float: left;
                img{
                    border: none;
                }
            }
        }
        ul:nth-child(2){
            position: absolute;
            bottom: 10px;
            left: 560px;
            li{
                float: left;
                width: 10px;
                height: 10px;
                background: #CECECE;
                margin: 0 5px;
                opacity: .8;
                border-radius: 50%;
                cursor: pointer;
            }
            .hover{
                background: #333;
            }
        }
    }
   
    
}
//-----------------------------------------------新人有礼那一条--------------------------------
.xryl{
    height: 124px;
    ul{
        padding-top: 20px;
        @include wrap;
        li{
            float: left;
            a{
                margin-right: 50px;
                display: block;
                width: 250px;
                height: 86px;
                background-image: url(../imgeas/shortcut3a.jpg);
                background-repeat: no-repeat;
                &:hover{
                    transform: translateX(-15px);
                    transition:all .3s;
                }
            }
        }
        li:nth-child(2) a{         
                background-position: -250px 0;
        }
        li:nth-child(3) a{         
                background-position: -745px 0;
        }
        li:nth-child(4) a{         
                background-position: -985px 0;
        }
    }
}
//-----------------------------------------------最新两个--------------------------------
.zx{
    height: 380px;
   @include wrap-h3;
   ul{
        overflow: hidden;      
       @include wrap;
       li{
           width: 600px;
           height: 300px;
           float: left;
           position: relative;
           overflow: hidden; 
           
             &:hover{
                 img{
                      transform: scale(1.04);
                   transition:all .3s;        
                 }
           }
           p{
               width: 100%;
               text-align: center;
               position: absolute;
               top: 50%;
           }
       }
   }
   
}
//-----------------------------------------------尖货推荐--------------------------------
.jhtj{
    height: 1934px;
    @include wrap-h3;
    .jhtj-ul{
        @include wrap;
        ul{ 
        overflow: hidden;
         margin: 0 0 40px;
        li{
            float: left;
            width: 394px;
            display: inline;
             margin: 0 4px 4px 0;
             &:hover{
                 opacity: .5;
             }
            a{
                width: 100%;
                height: 100%;
                display: block;
                img{
                    width: 394px;
                }
            }
        }
    }
    }
    
}
//-----------------------------------------------热键专题--------------------------------
.rjzt{
    height: 1062px;
    @include wrap-h3;
    ul{
        @include wrap;
        overflow: hidden;
        li{
            position: relative;
            float: left;
                width: 600px;
                margin: 0 0 40px;
                height: 300px;
                overflow: hidden;
                &:hover{
                    img{
                     transform: scale(1.04);
                    transition:all .3s;       
                    }
                }
            p{
                width:100%;
                text-align: center;
                position: absolute;
                top: 50%;
            }
        }
    }
}
//-----------------------------------------------更多专题 一小条--------------------------------
.gdzt{
    height: 116px;
    @include wrap-h3;
    padding-top: 40px;
}
//-----------------------------------------------走秀豪车--------------------------------
.zxhc{
    height: 430px;
    a{
        display: block;
        @include wrap;
    }
}
//-----------------------------------------------发现好货--------------------------------
.fxhh{
    height: 2118px;
    @include wrap-h3;
    ul{
        @include wrap;
        li{
               float: left;
                width: 287px;
                margin: 0 13px 20px 0;
                border: 1px solid #fff;
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
            &:hover{
                border: 1px solid #CECECE;
            }
        }
        
    }
}
//-----------------------------------------------更多好货--------------------------------
.gdhh{
    height: 76px;
    @include wrap-h3;
    padding-top: 20px;
}
//-----------------------------------------------链接--------------------------------
.foo-list{
    height:196px;
    margin: 0 0 15px 0;
    .foo-w{
        background: pink;
        @include wrap;
        padding-top: 20px;
        background: #f2f2f2;
        border-top:4px solid #9a9a9a;
        .foo-l-l1{
                height: 125px;
                margin: 10px 100px 0 0;
                display: inline;
                width: 183px;
                float: left;
                background: url(../imgeas/footer_sprite.gif) no-repeat left -86px;
        }
        .foo-l-l2{
               padding: 8px 60px 0 0;
                width: 200px;
                float: left;
                li{
                    a{
                        color: #333;
                        font-size: 14px;
                        line-height: 26px;
                        &:hover{
                            color: orange;
                        }
                    }
                }
                
        }
        .foo-l-c{
            padding-top: 12px;
            float: left;
            .foo-l-c-c{
                height: 40px;
                a{
                    text-decoration: none;
                    display: block;
                    float: left;
                    width: 27px;
                    height: 22px;
                    margin: 0 36px 0 7px;
                    background-image: url(../imgeas/footer_sprite.gif);
                    background-repeat: no-repeat;
                }
                a:nth-child(1){
                    background-position: left -226px;
                    &:hover{
                         background-position: left -263px;
                    }
                }
                a:nth-child(2){
                    background-position: -70px -226px;
                    &:hover{
                         background-position: -70px -263px;
                    }
                }
                a:nth-child(3){
                    background-position: -144px -226px;
                    &:hover{
                         background-position: -144px -263px;
                    }
                }
                a:nth-child(4){
                    background-position: -214px -226px;
                    &:hover{
                         background-position: -214px -263px;
                    }
                }
            }
            .foo-l-c-b{
                form{
                        height: 30px;
                        input:nth-child(1){
                            float: left;
                            width: 213px;
                            padding-left: 10px;
                            height: 30px;
                            background: url(../imgeas/footer_sprite.gif) no-repeat left -436px;
                        }
                        input:nth-child(2){
                            width: 30px;
                            height: 30px;
                            background: url(../imgeas/footer_sprite.gif) no-repeat -224px -436px;
                        }
                }
            }
        }
        .foo-l-r{
            float: right;
            width: 95px;
            p{
                text-align: center;
                font-size: 16px;
            }
            img{
                width: 85px;
                height: 85px;
            }
        }
    }
}
//-----------------------------------------------页脚--------------------------------
footer{
    height: 200px;
    .footerwrap{
        @include wrap;
            ul{
            text-align: center;
            li{
                color: #ccc;
                text-align: center;
                display: inline;
                border-right: 1px solid #ccc;
                a{
                        margin: 0 8px 0 6px;
                         color: #000;
                }
            }
            li:last-child{
                border-right:none;
            }
        }
        .foot-c{
                width: 630px;
                height: 50px;
                padding: 10px 0px;
                margin: 0 auto;
                box-sizing: content-box;
            a{
                    width: 145px;
                     height: 44px;
                    margin-left: 47px;
                    display: inline-block;
                    float: left;
                    background:url(../imgeas/foot_icons.jpg) no-repeat;
            }
            a:nth-child(2){
                background-position: -192px 0;
            }
            a:nth-child(3){
                background-position: -385px 0;
            }
        }
        p{
            height: 20px;
            line-height: 20px;
            text-align: center;
            color: #999;
            clear: both;
            min-width: 1000px;
            font-size: 10px;
            a{
                font-weight: 900;
                color: #999;
                &:hover{
                    color:#feb300;
                }
            }
        }
        .footer-end{
            overflow: hidden;
            padding: 10px 0px;
            width: 1000px;
            margin: 0 auto;
            text-align: center;   
            a{
                margin: 0px 0px 0px 12px;
            }
        }
    
    }
}
