header,.banner,.xryl,.zx,.jhtj,.rjzt,.gdzt,.zxhc,.fxhh,.gdhh,footer,nav,.foo-list{
    min-width: 1200px;
}
body,html,ul,li,h3,h5,form,input{
    padding: 0;
    margin: 0;
    border: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.down{
    opacity: .8;
}
@mixin wrap{
        width: 1200px;
        height: 100%;
        margin:0 auto;
}
@mixin wrap-h3{
    h3{
        text-align: center;
        padding-bottom: 20px;
    }
}

//-----------------------------------------------轮播图--------------------------------
.banner{
    height: 632px;
    padding-top: 24px;
    overflow: hidden;
    position: relative;
    .lbt-wrap{
        @include wrap;
        overflow: hidden;
            position: relative;
         ul:nth-child(1){
            height: 100%;
            position: absolute;
            li{
                float: left;
                img{
                    border: none;
                }
            }
        }
        ul:nth-child(2){
            position: absolute;
            bottom: 10px;
            left: 560px;
            li{
                float: left;
                width: 10px;
                height: 10px;
                background: #CECECE;
                margin: 0 5px;
                opacity: .8;
                border-radius: 50%;
                cursor: pointer;
            }
            .hover{
                background: #333;
            }
        }
        
    }
   #right-dh{
            position: fixed;
            width: 168px;
            height: 342px;
            left: 50%;
            top: 50px;
            margin-left: 605px;
    }
    
}
//-----------------------------------------------新人有礼那一条--------------------------------
.xryl{
    height: 124px;
    ul{
        padding-top: 20px;
        @include wrap;
        li{
            float: left;
            a{
                margin-right: 50px;
                display: block;
                width: 250px;
                height: 86px;
                background-image: url(../imgeas/shortcut3a.jpg);
                background-repeat: no-repeat;
                &:hover{
                    transform: translateX(-15px);
                    transition:all .3s;
                }
            }
        }
        li:nth-child(2) a{         
                background-position: -250px 0;
        }
        li:nth-child(3) a{         
                background-position: -745px 0;
        }
        li:nth-child(4) a{         
                background-position: -985px 0;
        }
    }
}
//-----------------------------------------------最新两个--------------------------------
.zx{
    height: 380px;
   @include wrap-h3;
   ul{
        overflow: hidden;      
       @include wrap;
       li{
           width: 600px;
           height: 300px;
           float: left;
           position: relative;
           overflow: hidden; 
           
             &:hover{
                 img{
                      transform: scale(1.04);
                   transition:all .3s;        
                 }
           }
           p{
               width: 100%;
               text-align: center;
               position: absolute;
               top: 50%;
           }
       }
   }
   
}
//-----------------------------------------------尖货推荐--------------------------------
.jhtj{
    height: 1934px;
    @include wrap-h3;
    .jhtj-ul{
        @include wrap;
        ul{ 
        overflow: hidden;
         margin: 0 0 40px;
        li{
            float: left;
            width: 394px;
            display: inline;
             margin: 0 4px 4px 0;
             &:hover{
                 opacity: .5;
             }
            a{
                width: 100%;
                height: 100%;
                display: block;
                img{
                    width: 394px;
                }
            }
        }
    }
    }
    
}
//-----------------------------------------------热键专题--------------------------------
.rjzt{
    height: 1062px;
    @include wrap-h3;
    ul{
        @include wrap;
        overflow: hidden;
        li{
            position: relative;
            float: left;
                width: 600px;
                margin: 0 0 40px;
                height: 300px;
                overflow: hidden;
                &:hover{
                    img{
                     transform: scale(1.04);
                    transition:all .3s;       
                    }
                }
            p{
                width:100%;
                text-align: center;
                position: absolute;
                top: 50%;
            }
        }
    }
}
//-----------------------------------------------更多专题 一小条--------------------------------
.gdzt{
    height: 116px;
    @include wrap-h3;
    padding-top: 40px;
}
//-----------------------------------------------走秀豪车--------------------------------
.zxhc{
    height: 430px;
    a{
        display: block;
        @include wrap;
    }
}
//-----------------------------------------------发现好货--------------------------------
.fxhh{
    height: 2118px;
    @include wrap-h3;
    ul{
        @include wrap;
        li{
               float: left;
                width: 287px;
                margin: 0 13px 20px 0;
                border: 1px solid #fff;
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
            &:hover{
                border: 1px solid #CECECE;
            }
        }
        
    }
}
//-----------------------------------------------更多好货--------------------------------
.gdhh{
    height: 76px;
    @include wrap-h3;
    padding-top: 20px;
}

