.wdwz,#wpxq{
    width: 1000px;
    margin: 0 auto;
}
//-----------------------------------------------列表右侧导航--------------------------------
body{
    position: relative;
}
.lb-r-dh{
    z-index: 4;
    position: fixed;
    right: 30px;
    bottom: 200px;
    >span{
        display: block;
        background: #fff;
        border: 1px solid #ddd;
        width: 69px;
        height: 30px;
        cursor: pointer;
        color: red;
        text-align: center;
        line-height: 30px;
    }
    a{
        display: block;
        width: 69px;
        height: 56px;
        background: url(../imgeas/r_menu_bg.jpg) no-repeat;
        border-bottom: 1px solid #D7D7D7;
    }
    a:nth-child(2){
        background-position: 0px 0px;
        &:hover{
            background-position: -69px 0px;
        }
    }
    a:nth-child(3){
        position: relative;
        background-position: 0px -57px;
        span{
            display: block;
            width: 20px;
            height: 20px;
            font-size: 12px;
            border-radius: 50%;
            text-align: center;
            line-height: 20px;
            background: red;
            color: #fff;
            position: absolute;
            left: 40px;
            top: 5px;
        }
        &:hover{
            background-position: -69px -57px;
        }
    }
    a:nth-child(4){
        background-position: 0px -115px;
        &:hover{
            background-position: -69px -115px;
        }
    }
    a:nth-child(5){
        cursor:pointer;
        background-position: 0px -172px;
        &:hover{
            background-position: -69px -172px;
        }
    }
}
//-----------------------------------------------列表我的位置--------------------------------
.wdwz{
    height: 29px;
    line-height: 25px;
    margin: 10px auto;
    padding: 0 0 5px 12px;
    border-bottom: 1px solid #ddd;
    ul{
        li{
            float: left;
            font-size: 12px;
        }
        li:nth-child(1){
            color: #000;
            padding-left: 10px;
            background: url(../imgeas/xsearchico20120615.png) no-repeat 0 7px;
        }
    }   
}
//-----------------------------------------------物品详情--------------------------------
                 @mixin xiangqing-bs{
                         b{
                            font-weight:normal;  
                         } 
                         span{
                                 display: inline-block;
                                box-sizing: content-box;
                                text-align: center;
                                border: 2px solid orange;
                                font-size: 12px;
                                padding: 1px 7px;
                                height: 20px;
                                width: 12px;
                                line-height: 20px;
                                margin: 0px 10px 5px 0;
                                background: url(../imgeas/goods_info1.gif) no-repeat right -52px #fff;
                         } 
                    }
//-----------------------------------------------物品详情--------------------------------
                    
#wpxq{
    margin-top: 15px;
    .wpxq-t{
        display: flex;
        width: 100%;
        margin-bottom: 30px;
        justify-content: space-between;
        .wpxq-l{
            width: 402px;
            .wpxq-l-t{
                width: 402px;
                background:hotpink;
                height: 536px;
                border: 1px solid #CCCCCC;
            }
            .wpxq-l-b{
                margin-top: 8px;
                width: 405px;
                height: 100%;
                overflow: hidden;
                ul{
                    li{
                        margin: 5px 4px 0 4px;
                        background: deepskyblue;
                        width: 73px;
                        height: 98px;
                        float: left;
                        background: url(../imgeas/goods_info1.gif) no-repeat -200px -333px;
                        img{
                            width: 66px;
                            height: 88px;
                        }
                    }
                }
            }
        }
        .wpxq-r{
            width: 570px;
            height: 628px;
            background: greenyellow;
            padding-right: 10px;
            .wpxq-r-t{
                h5{
                    line-height: 25px;
                    font-size: 14px;
                    margin-bottom: 8px;
                }
                p{
                    width: 100%;
                    font-size: 12px;
                    border-bottom: 1px solid #DDDDDD;
                    padding-bottom: 10px;
                    a:nth-child(2){
                        margin-left: 10px;
                    }
                    b{
                        font-weight: normal;
                        float: right;
                    }
                }
            }
            .wpxq-r-c{
                padding: 20px 0 20px 0;
                width: 100%;
                height: 120px;
                border-bottom: 1px solid #CCCCCC;
                p{
                    height: 30px;
                    line-height: 30px;
                }
                p:nth-child(1){
                    >span{
                        font-size: 26px;
                        color: #cf1700;
                        padding-left: 15px;
                        background: url(../imgeas/goods_info1.gif) no-repeat 0 -95px;
                    }   
                }
                p:nth-child(2){
                    b:nth-child(1){
                        color: orange;
                        font-size: 15px;
                    }
                    b:nth-child(2){
                        color: orange;
                        font-size: 14px;
                    }
                    a{
                        margin-left: 10px;
                        font-size: 10px;
                    }
                }
                p:last-child{
                    span{
                        margin-left: 10px;
                    }
                    a{
                        margin-left: 10px;
                    }
                }
            }
           
            .wpxq-r-b{
                padding: 10px 0;
                width: 546px;
                
                .w-r-b1{
                    height: 30px; 
                    margin: 7px 0 8px 0;
                    @include xiangqing-bs;
                }
                .w-r-b2{
                   height: 30px;
                    margin: 7px 0 8px 0;
                    @include xiangqing-bs;
                }
                .w-r-b3{
                    width: 100%;
                    float: left;
                    box-sizing: border-box;
                    margin: 7px 0 8px 0;
                    line-height: 23px;
                    overflow: hidden;
                    b{
                        float: left;
                        font-weight: normal;
                    }
                    span{
                        cursor: pointer;
                        display: inline-block;
                        width: 15px;
                        height: 20px;
                        float: left;
                        background: url(../imgeas/goods_info1.gif) no-repeat;
                    }
                    input{
                        float: left;
                        height: 20px;
                        width: 50px;
                        text-align: center;
                        margin: 0 6px;
                    }
                    .jian{
                        background-position: -207px -160px;
                    }
                    .jia{
                        background-position: -207px -179px;
                        margin-right: 10px;
                    }
                }
                .w-r-b4{
                    float: left;
                    span{
                        float: left;
                        height: 23px;
                        line-height: 23px;
                        padding-left: 22px;
                        background: url(../imgeas/wlb.jpg) no-repeat left center;
                        margin-right: 10px;
                    }
                    p{
                        float: left;
                        height: 23px;
                        line-height: 23px;
                        padding-left: 22px;
                        background: url(../imgeas/fwb.jpg) no-repeat left center;
                    }
                }
            }
        }
    }
}
